Repository razzius/weave: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, eslint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: pipenv run flake8
    types: [python]
  - id: eslint
    name: eslint
    stages: [commit]
    language: system
    entry: eslint src
    types: [javascript]
  - id: pytest
    name: pytest
    stages: [manual]
    language: system
    entry: pipenv run test
    types: [python]

Remove unused retry util
  src/utils.js
Due: eslint

Remove unused delay util
  src/utils.js
Due: eslint

Use `yarn run eslint` to use project-specific eslint
  .pre-commit-config.yaml
  src/api.js
Due: eslint

Extremely simple login implementation
  Pipfile
  server/app.py
  server/auth.py
  server/models.py
  server/views/home.py
Due: flake8

Disable CORS on production
  server/app.py
Due: flake8

User session working
  server/app.py
  server/auth.py
  server/models.py
  server/views/api.py
  server/views/home.py
  src/SubmitEmailForm.js
  src/VerifyEmail.js
  src/api.js
Due: flake8, eslint

Ensure database connection is up with pool_pre_ping True
  server/models.py
Due: flake8

Switch from localStorage token to cookie session
  README.md
  server/app.py
  server/auth.py
  server/models.py
  server/queries.py
  server/views/api.py
  src/App.js
  src/Browse.js
  src/CreateProfile.js
  src/EditProfile.js
  src/Home.js
  src/HomeActions.js
  src/PreviewProfile.js
  src/Profile.js
  src/ProfileForm.js
  src/ProfileView.js
  src/VerifyEmail.js
  src/api.js
  src/persistence.js
Due: flake8, eslint

Update tests to use flask-login session
  server/views/api.py
  server/views/home.py
  src/App.js
  tests/conftest.py
  tests/test_custom_tag.py
  tests/test_get_profile.py
  tests/test_get_profiles.py
  tests/test_get_profiles_sorting.py
  tests/test_get_public_tags.py
  tests/test_star_profile.py
  tests/test_update_availability.py
  tests/test_update_profile.py
Due: flake8, eslint

Fix circular import and cors issue in testing
  Pipfile
  server/auth.py
  server/models.py
  server/session.py
  server/views/api.py
Due: flake8

Update some tests and make pytest not need tests directory argument to collect quickly using testpaths
  Pipfile
  pytest.ini
  tests/conftest.py
  tests/test_get_profile.py
  tests/test_get_profiles.py
  tests/test_get_profiles_sorting.py
Due: flake8

Working test with flask-login session
  tests/conftest.py
  tests/test_custom_tag.py
Due: flake8

Updated Office of Disability Services phone number
  src/Resources.js
Due: eslint

More logging for token expiration
  server/session.py
Due: flake8

Handle errors as text in api
  src/api.js
Due: eslint

Disable availability toggle if user has no profile
  src/App.js
  src/utils.js
Due: eslint

Better error handling for results view and load data in parallel
  src/Browse.js
  src/ResultsView.js
Due: eslint

Successfully verifying token logs out other tokens of that email
  server/models.py
  server/session.py
  server/views/api.py
  tests/test_verify_token.py
Due: flake8

Make logging out set token to logged_out
  server/views/api.py
  tests/conftest.py
  tests/test_logout.py
  tests/utils.py
Due: flake8

Add test that users cannot verify logged_out token
  tests/test_verify_token.py
Due: flake8

Default export loggedOutNotification
  src/api.js
  src/loggedOutNotification.js
Due: eslint

Make POSTed verification token take precedence over session token
  server/views/api.py
  tests/test_verify_token.py
Due: flake8

Path to flask app is 'server'
  server/app.py
Due: flake8
