Repository razzius/weave: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, eslint

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8

eslint:
  name: eslint
  stages:
  - commit
  language: system
  entry: eslint src

Update workflows to use node 13.10
  .github/workflows/eslint.yml
  .github/workflows/flow.yml
  .github/workflows/jest.yml
  .github/workflows/pytest.yml
Due: none

Update public/assets/star-outline.png - higher resolution
  public/assets/star-outline.png
Due: none

Update versions everywhere: python 3.7.7, node 13.12.0
  .github/workflows/eslint.yml
  .github/workflows/flake8.yml
  .github/workflows/flow.yml
  .github/workflows/jest.yml
  .github/workflows/mypy.yml
  .github/workflows/pytest.yml
  Pipfile
  Pipfile.lock
  README.md
  package.json
Due: none

Fix eslint pre-commit
  .pre-commit-config.yaml
Due: none

Everything to python 3.7.6
  .github/workflows/flake8.yml
  Pipfile
  Pipfile.lock
Due: none

Always allow querying own profile
  server/queries.py
Due: flake8

Let python test version be 3.7.6
  .github/workflows/mypy.yml
  .github/workflows/pytest.yml
Due: none

Postgresql version 12.2
  README.md
  tests/conftest.py
Due: flake8

Use 2 svgs for profile star
  public/assets/star-active.svg
  public/assets/star-inactive.svg
  src/App.css
  src/ProfileStar.js
Due: eslint

Do not show "you are not logged in" message if account just hasn't loaded. Fix #158.
  src/Profile.js
Due: eslint

Rework home page to include peer mentorship for students
  src/App.css
  src/Button.js
  src/Home.js
  src/HomeActions.js
  src/ProfileView.js
Due: eslint

Add My Profile / Create Profile link to homepage
  src/App.js
Due: eslint

Fix flow error
  src/Home.js
Due: eslint

New node lint script, and linting
  package.json
  src/Home.js
  src/HomeActions.js
Due: eslint

hihuh
  Pipfile
  Pipfile.lock
  server/app.py
  server/views/__init__.py
  server/views/auth.py
Due: flake8

Use Pipfile.lock for flake8
  .github/workflows/flake8.yml
Due: none

Split out flake8 steps
  .github/workflows/flake8.yml
Due: none

Fix unnecessary f-strings
  tests/test_custom_tag.py
  tests/test_registration.py
Due: flake8

Remove hmsweave.com from valid domains
  src/SubmitEmailForm.js
  src/valid_domains.json
Due: eslint

Security section of README
  README.md
Due: none

Added OSA description & updated HMS Collaborate
  src/Resources.js
Due: eslint

add @g.harvard.edu domain
  src/valid_domains.json
Due: none

Temporarily remove python workflows
  .github/workflows/flake8.yml
  .github/workflows/mypy.yml
  .github/workflows/pytest.yml
Due: none

Reinstate python workflows
  .github/workflows/flake8.yml
  .github/workflows/mypy.yml
  .github/workflows/pytest.yml
Due: none

Format python files with black
  server/__init__.py
  server/admin.py
  server/app.py
  server/emails/__init__.py
  server/emails/sparkpost_email_backend.py
  server/models.py
  server/queries.py
  server/schemas.py
  server/scripts/populate.py
  server/views/__init__.py
  server/views/api.py
  server/views/home.py
  tests/conftest.py
  tests/test_custom_tag.py
  tests/test_get_profile.py
  tests/test_get_profiles.py
  tests/test_get_public_tags.py
  tests/test_matching_profiles.py
  tests/test_query_profile_tags.py
  tests/test_query_searchable_tags.py
  tests/test_registration.py
  tests/test_star_profile.py
  tests/test_update_availability.py
  tests/test_update_profile.py
  tests/test_verify_token.py
  tests/utils.py
Due: flake8

Properly handle getting unavailable profile
  server/views/api.py
  tests/test_get_profile.py
Due: flake8

Do not show "you are not logged in" message if account just hasn't loaded. Fix #158.
  src/App.css
  src/Button.js
  src/Home.js
  src/HomeActions.js
  src/ProfileView.js
Due: eslint

New node lint script, and linting
  package.json
Due: none

Add create-session link
  server/app.py
  server/cli.py
Due: flake8

Don't show the header link for students; peer-to-peer not available yet
  src/App.js
Due: eslint

Update to mypy fork for server/cli to typecheck
  Pipfile
  Pipfile.lock
  server/cli.py
Due: flake8

Consolidate scripts into server/cli.py
  Pipfile
  Pipfile.lock
  scripts/servers.sh
  server/__init__.py
  server/cli.py
  server/scripts/context.py
  server/scripts/populate.py
  server/scripts/resetdb.py
  server/scripts/shell.py
Due: flake8

Path to flask app is 'server'
  server/app.py
Due: flake8

Extremely simple login implementation
  Pipfile
  Pipfile.lock
  server/app.py
  server/auth.py
  server/models.py
  server/views/home.py
Due: flake8

User session working
  server/app.py
  server/auth.py
  server/models.py
  server/views/api.py
  server/views/home.py
  src/SubmitEmailForm.js
  src/VerifyEmail.js
  src/api.js
Due: flake8, eslint

wip use flask session for all auth
  server/app.py
  server/models.py
  server/queries.py
  server/views/api.py
  src/App.js
  src/Browse.js
  src/CreateProfile.js
  src/EditProfile.js
  src/Home.js
  src/HomeActions.js
  src/PreviewProfile.js
  src/Profile.js
  src/ProfileForm.js
  src/ProfileView.js
  src/VerifyEmail.js
  src/api.js
  src/persistence.js
Due: flake8, eslint

wip
  Pipfile
  Pipfile.lock
  server/app.py
  server/auth.py
  server/views/home.py
  src/App.js
  src/Login.js
  src/api.js
  src/persistence.js
Due: flake8, eslint

Use `yarn run eslint` to use project-specific eslint
  .pre-commit-config.yaml
  src/api.js
Due: eslint

Path conditions:
  flake8: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
